# Git ignore file for the dotfiles repository #

# First, ignore all files, except this one.
/*
!/.gitignore
# Then, allow selectively files to be versionned.

# Main directories
!/.config/
/.config/*
!/.local/
/.local/*
!/.local/etc
!/.local/share/
/.local/share/*

# Configuration files
!/.config/autotools/
!/.config/cabal/
!/.config/Code - OSS/
/.config/Code - OSS/*
!/.config/Code - OSS/User/
/.config/Code - OSS/User/*
!/.config/Code - OSS/User/keybindings.json
!/.config/Code - OSS/User/settings.json
!/.config/composer/
/.config/composer/*
!/.config/composer/composer.json
!/.config/fontconfig/
!/.config/git/
!/.config/htop/
!/.config/pacman/
!/.config/stack/
/.config/stack/*
!/.config/stack/config.yaml
!/.config/vim/
!/.config/X/

# Data files
!/.local/share/dircolors/
!/.local/share/setcolors/

# Zsh
!/.config/zsh/
!/.local/share/zsh/

# Scripts
!/.local/scripts/

# Todo
!/TODO

# XMonad
!/.xmonad/
/.xmonad/*
/.xmonad/**/*.hs

# vim: ft=gitconfig
